div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}

.translated {
    transform: perspective(15px) translateZ(-10px);
}
.scaled {
    margin: 50px;
    transform: perspective(200px) scaleZ(4) rotateY(15deg) rotateX(20deg);
}
.rotate {
    margin: 50px;
    transform: rotateZ(30deg);
}
