.box2 {
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: radial-gradient(circle,red,yellow, green);
}
.box3 {
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: radial-gradient(red 20%,yellow 70%, green );
}
.box4 {
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: radial-gradient(red 20%,yellow 70%, green );
}