.box {
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: linear-gradient( to bottom right, white,rgb(0, 240, 0));
}
.box2 {
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: linear-gradient( 20deg,rgb(0, 240, 0),red);
}
.box3 {
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image:linear-gradient(to bottom ,rgb(255,0,0,0.1),rgb(0,0,255,1));
}